/*This party's gettin' started --Donte*/

/*experimental slim mode buggy af*/
  /*An even better mode and one that's not as buggy, will decrease margins on buttons and entries*/
   .titlebar:not(headerbar), 
    headerbar {
      min-height: 44px;
    }

    .titlebar:not(headerbar) entry,
    headerbar entry,
  headerbar button {
      margin-top: 4px;
      margin-bottom: 4px;
    }
  /*/An even better mode and one that's not as buggy, will decrease margins on buttons and entries*//*
  .titlebar:not(headerbar), 
  headerbar {
    min-height: 44px;
  }

  .titlebar:not(headerbar) entry,
  headerbar entry {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .titlebar:not(headerbar) button,
  headerbar button {
    padding: 4px 5px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .titlebar:not(headerbar) button.image-button.toggle,
  headerbar button.image-button.toggle,
  .titlebar:not(headerbar) box.linked.horizontal .image-button,
  headerbar box.linked.horizontal .image-button {
    padding: 4px 4px;
  }

  .titlebar:not(headerbar) box button.toggle:not(.popup):not(.image-button),
  headerbar box button.toggle:not(.popup):not(.image-button) {
    padding-left: 8px;
    padding-right: 8px; 
  }

  .titlebar:not(headerbar) button.popup.toggle:not(.image-button):not(.appmenu),
  headerbar button.popup.toggle:not(.image-button):not(.appmenu) {
    padding-left: 10px;
    padding-right: 10px; 
  }

  .titlebar:not(headerbar) button.text-button label,
  headerbar button.text-button label {
    margin-left: 4px;
    margin-right: 4px;
  }

  .titlebar:not(headerbar),
  headerbar .titlebutton:not(separator) {
    padding: 4px 8px;
  }
  */
/*/experimental slim mode*/

/*For Global Menus*/
  menubar > menuitem,
  .menubar > menuitem {
    font-weight: 500;
    border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), white 0%, transparent 0%) 0 0 2/0 0 2px;

  }
  menubar > menuitem:hover,
  .menubar > menuitem:hover {
    border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), white 100%, transparent 0%) 0 0 2/0 0 2px;
  }

  menu separator,
  .menu separator,
  .context-menu separator {
    margin: 0;
  }
/*/For Global Menu*/

/****** XFCE ******/
  /*Xfce's panel and other stuff'*/
    window.background.panel.xfce4-panel {
      background-color: rgba(30, 30, 42, 1);
      color: rgba(255, 255, 255, 0.8);
    }

    window.background.panel.xfce4-panel button {
      border-radius: 0px;
      border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), rgba(255, 255, 255, 0.5) 0%, transparent 0%) 0 0 2/0 0 2px;
      background-color: transparent;
      color: rgba(255, 255, 255, 0.8);
      box-shadow: none;
    }

    window.background.panel.xfce4-panel button:hover, 
    window.background.panel.xfce4-panel > widget > button.flat:hover, 
    window.background.panel.xfce4-panel > widget > widget > button.flat:hover, 
    window.background.panel.xfce4-panel > widget > widget > button.flat:checked {
      background-color: rgba(255, 255, 255, 0.1);
      border-width: 3px;
      border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), rgba(255, 255, 255, 0.5) 100%, transparent 0%) 0 0 2/0 0 2px;
    }

    window.background.panel.xfce4-panel button:checked, window.background.panel.xfce4-panel button:checked, 
    window.background.panel.xfce4-panel > widget > button.flat:checked, window.background.panel.xfce4-panel > widget > widget > button.flat:checked, window.background.panel.xfce4-panel > widget > widget > button.flat:checked {
      border-width: 3px;
      border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), white 100%, transparent 0%) 0 0 2/0 0 2px;
    }

    window.background.panel.xfce4-panel button:hover, window.background.panel.xfce4-panel button:checked, window.background.panel.xfce4-panel > widget > button.flat:hover, window.background.panel.xfce4-panel > widget > button.flat:checked {
      background-color: rgba(255, 255, 255, 0.1);
      box-shadow: none;
    }

    window.background.panel.xfce4-panel > widget > widget > button.flat:hover, window.background.panel.xfce4-panel > widget > widget > button.flat:checked, window.background.panel.xfce4-panel > widget > widget > button.flat {
      color: rgba(255, 255, 255, 0.8);
    }

    window.background.panel.xfce4-panel > widget > frame > box.horizontal > button.flat {
      color: rgba(255, 255, 255, 0.8);
    }

    window.background.panel.xfce4-panel > widget > button.flat:checked, window.background.panel.xfce4-panel > widget > widget > button.flat:checked {
      background-color: rgba(255, 255, 255, 0.1);
    }

    dialog.background > box.vertical > box.vertical.dialog-vbox > box.vertical > frame > widget > box.vertical > buttonbox.horizontal > button {
      margin-left: 6px;
    }

    button > widget > box.horizontal > label {
      margin-left: 8px;
    }

    dialog.background > box.vertical > box.vertical.dialog-vbox > box.vertical > frame > grid.horizontal > grid.horizontal, dialog.background > box.vertical > box.vertical.dialog-vbox > box.vertical > frame > grid.horizontal {
      margin-top: 10px;
    }

    box.vertical > stackswitcher.linked.horizontal.stack-switcher > button.radio.text-button {
      margin-right: 0px;
      margin-left: 0px;
    }

    window.background.panel.xfce4-panel > widget > button.flat.toggle > window.popup > menu > menuitem > box.horizontal > box.linked.horizontal > button.image-button {
      border-radius: 9999px;
      padding: 6px;
      border-image: none;
    }
  /*/Xfce's panel Clock*/

  /*Whisker Menu*/
    /* WM Sidebar*/
      #whiskermenu-window {
        background-color: #1E1E2A;
        /*background-color: #282828;*/
        color: rgba(255, 255, 255, 0.9);
      }
    /* WM Sidebar*/

    /* WM Sidebar buttons */
      #whiskermenu-window button {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        background-color: transparent;
        color: rgba(255, 255, 255, 0.8);
        box-shadow: none;
        border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), rgba(255, 255, 255, 0.1) 0%, transparent 0%) 0 0 2/0 0 2px; 

      }

      #whiskermenu-window button:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.9);
        border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), rgba(255, 255, 255, 0.5) 100%, transparent 0%) 0 0 2/0 0 2px; 

      }

      #whiskermenu-window button:checked {
        background-color: rgba(0, 191, 113, 0.1);
        color: rgba(0, 191, 113, 1);
        border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), #00BF71 100%, transparent 0%) 0 0 2/0 0 2px;  
      }

      #whiskermenu-window button:checked:hover {
        background-color: rgba(0, 191, 113, 0.2);
      }

      #whiskermenu-window button label {
        margin-left: 10px;
      }
    /* WM Sidebar buttons */

    /* Make treeview look better */
      #whiskermenu-window treeview {
        /*background-color: #303030;*/
        background-color: #282834; /*Nostalgia twt*/
      }

      #whiskermenu-window treeview:hover, #whiskermenu-window treeview:selected {
        background-color: #00BF71;
        color: white;
      }
    /*/ Make treeview look better */

    /* Change entries look to a more MD 2 look*/
      #whiskermenu-window entry {
        border-radius: 9999px;
        background-color: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.9);
          box-shadow: none;
          border: 2px solid #00BF71;
      }

      #whiskermenu-window entry image {
        margin-right: 5px;
        padding: 3px;
      }
    /* Change entries look to a more MD 2 look*/

    /*Fix the Emoji Picker*/
      #whiskermenu-window .emoji-picker {
        background-color: rgba(30, 30, 42, 1);
      }

      #whiskermenu-window .emoji-picker entry {
        border-radius: 0px;
      }
    /*Fix the Emoji Picker*/
  /*/Whisker Menu*/

  /*Thunar*/
      window.background.thunar, window.background.thunar grid {
        background-color: #303030;
        border: none;
      }

      #location-toolbar {
        background-color: #383838;
      }

      #location-toolbar button {
        border-radius: 9999px;
        padding: 8px;
        margin: 0px 6px;
        background-color: rgba(255, 255, 255, 0.1);
      }

      #location-toolbar entry {
        background-color: rgba(255, 255, 255, 0.1);
        border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), white 100%, transparent 0%) 0 0 2/0 0 2px;
        box-shadow: none;
        margin: 0px;
      }

      window.background.thunar treeview:not(:selected) {
        background-color: #282828;
        padding: 4px;
        font-weight: 500;
      }

      window.background.thunar treeview:selected {
        background-color: inherit;
        color: #00BF71;
      }

      scrolledwindow.frame.standard-view widget:not(:selected) {
        background-color: #303030;
        /*If you want some shadows on thunar uncomment this
        box-shadow: inset 0px 2px 2px -2px rgba(0, 0, 0, 0.6), inset 0px 6px 2px -2px rgba(0, 0, 0, 0.1);*/
      }
  /*/Thunar*/

  /*Don't remember tbh*/
      window.background box.vertical box.horizontal box.vertical box.horizontal frame label {
        margin-left: 2px;
      }
  /*/Don't remember tbh*/
/****** XFCE ******/

/*Rounded text buttons and others*/
  button.text-button:not(.radio),
  button.image-button:not(.radio):not(.model),
  button.text-button.image-button:not(.radio),
  button.toggle:not(.image-button) {
    border-radius: 9999px;
    -gtk-outline-radius: 9999px;
  }

  popover button.model.image-button:first-child {
    border-radius: 2px 0px 0px 2px;
  }

  popover button.model.image-button {
    border-radius: 0px;
  }

  popover button.model.image-button:last-child {
    border-radius: 0px 2px 2px 0px;
  }
  
  button.toggle:last-child {
    border-radius: 0px 2px 2px 0px;
    -gtk-outline-radius: 2px;
  }

  box.horizontal > box.vertical > box.vertical.linked button.image-button {
    border-radius: 9999px;
    margin-top: 2px;
  }

  .emoji-picker button.emoji-section {
    border-radius: 0px;
    -gtk-outline-radius: 0px;
  }

  button.destructive-action {
    background-color: #F3002D;
  }
/*/Rounded text buttons and others*/

  /*Messagedialog buttons*/
    messagedialog.background button {
      border-radius: 0px;
      -gtk-outline-radius: 0px;
      color: #00BF71;
      box-shadow: none;
    }

    messagedialog.background button:hover {
      background-color: alpha (currentColor, 0.1);
    }
  /*/Messagedialog buttons*/

/*Scrollbars edit*/

scrollbar {
  background-clip: border-box;
  border: 0px;
}

* {
  -GtkScrollbar-has-backward-stepper: false;
  -GtkScrollbar-has-forward-stepper: false;
}

scrollbar.top {
  border-bottom: 1px solid transparent;
}

scrollbar.bottom {
  border-top: 1px solid transparent;
}

scrollbar.left {
  border-right: 1px solid transparent;
}

scrollbar.right {
  border-left: 1px solid transparent;
}

scrollbar slider {
  min-width: 8px;
  min-height: 10px;
  border: 0px solid transparent;
  border-radius: 1px;
}

scrollbar slider:hover {
  border: 0px;
}

scrollbar.fine-tune slider {
  min-width: 4px;
  min-height: 6px;
  background-color: #F5A300;
}

scrollbar.fine-tune.horizontal slider {
  margin: 0;
}

scrollbar.fine-tune.vertical slider {
  margin: 0;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering) {
  border-color: transparent;
  background-color: transparent;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering) slider {
  min-width: 4px;
  min-height: 6px;
  margin: 0px;
  border: transparent;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering) button {
  min-width: 4px;
  min-height: 6px;
  margin: 3px;
  border: transparent;
  border-radius: 9999px;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering).horizontal slider {
  min-width: 24px;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering).horizontal button {
  min-width: 8px;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering).vertical slider {
  min-height: 24px;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering).vertical button {
  min-height: 8px;
}

scrollbar.overlay-indicator.dragging, scrollbar.overlay-indicator.hovering {
  border: transparent;
}

scrollbar.horizontal slider {
  min-width: 24px;
}

scrollbar.vertical slider {
  min-height: 24px;
}

scrollbar button {
  min-width: 16px;
  min-height: 16px;
  padding: 0;
  border-radius: 0;
}
/*/Scrollbars edit*/

/*Make toolbuttons circular*/
  toolbutton button.flat.text-button.image-button {
    border-radius: 9999px;
    -gtk-outline-radius: 9999px;
  }
/*/Make toolbuttons circular*/

/*Make buttonboxes buttons have color and be flat*/
  buttonbox button {
    color: #00BF71;
    box-shadow: none;
    background-color: transparent;
    /*todo
    margin-bottom: 5px;
    margin-top: 3px;*/
    border-radius: 2px;
  }

  buttonbox button:active:not(.suggested-action):not(.destructive-action) {
    box-shadow: none;
    color: #00BF71;
  }

  buttonbox button:first-child {
    /*todo glade
    margin-left: 7px;
    margin-right: 0px; */
  }

  buttonbox button:last-child {
    /*todo glade
    margin-left: 0px;
    margin-right: 7px; */
  }

  buttonbox button:hover:not(.suggested-action):not(.destructive-action) {
    background-color: alpha (currentColor, 0.1);
    color: #00BF71;
    box-shadow: none;
  }

  box.horizontal.dialog-action-box buttonbox button.text-button {
    margin: 1px;
    margin-top: 3px;
  }

  box.vertical.dialog-vbox > box.horizontal.dialog-action-box buttonbox button.text-button {
    border-radius: 2px;
    -gtk-outline-radius: 2px;
    margin: 0px 10px;
    margin-bottom: 2px;
  }
/*/Make buttonboxes buttons have color*/

/*Sidebar*/
  .sidebar {
    box-shadow: -6px 6px 6px -6px rgba(20, 20, 32, 0.2) inset;
  }

  list row {
    padding: 4px;
    font-weight: 500;
  }

  row:selected {
    background-color: rgba(0, 191, 113, 0.1);
    border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), #00BF71 100%, transparent 0%) 0 0 0 2/0 0 0 2px;
  }

  list row:selected, list row:selected label {
    color: #00BF71;
  }

    /*If you want this to apply to the icons too uncomment this*/
      /*list row:selected image.sidebar-icon {
        color: #00BF71;
      }*/
    /*/If you want this to apply to the icons too uncomment this*/

/*/Sidebar*/

/*Make Toggle button round*/
  window.background.csd > headerbar.titlebar > button.popup.toggle {
    border-radius: 9999px;
    -gtk-outline-radius: 9999px;
  }
/*Make Toggle button round*/

/*Make some artifacts not have margins on the headerbar*/
  headerbar.titlebar button.toggle.session-sidebar-button {
    margin: 0px;
  }

  headerbar.titlebar button.toggle.session-sidebar-button:checked {
    background-color: rgba(0, 0, 0, 0.15);
  }

  filechooserbutton.horizontal combobox box.horizontal button.combo {
    margin: 0px;
  }
/*/Make some artifacts not have margins on the headerbar*/

/*Headerbars*/

  /*Change titlebar's color and the separator and other stuff*/
    .titlebar:not(headerbar), headerbar {
      background-color: #00BF71;
    }

    .titlebar:not(headerbar), headerbar separator {
      background-color: rgba(0, 0, 0, 0.1);
    }

    .titlebar:not(headerbar) button.toggle:not(.text-button),
    headerbar button.toggle:not(.text-button)  {
      border-radius: 9999px;
      -gtk-outline-radius: 9999px;
    }

    /*Change suggested button's color in the headerbar*/
      .titlebar:not(headerbar) button.suggested-action,
      headerbar button.suggested-action {
        background-color: #F5A300; 
      }

      .titlebar:not(headerbar) button.suggested-action label,
      headerbar button.suggested-action label,
      .titlebar:not(headerbar) button.suggested-action,
      headerbar button.suggested-action {
        color: white;
      }
    /*/Change suggested button's color in the headerbar*/
  /*/Change titlebar's color and the separator and other stuff*/

  /*Change the close button to red when the mouse cursor hovers it*/
    .titlebutton.close:hover, 
    headerbar .titlebutton.close:hover,
    .titlebar:not(headerbar) .titlebutton.close:hover {
      background-color: #F3002D;
    }
  /*/Change the close button to red when the mouse cursor hovers it*/

  /*Change headerbar's button and entries color*/ /*  <----- Looks the best on a light variation*/
    headerbar button:not(.suggested-action):not(.destructive-action):not(.close),
    headerbar entry,
    .titlebar:not(headerbar) button:not(.suggested-action):not(.destructive-action):not(.close),
    .titlebar:not(headerbar) entry,
    .titlebar label {
      color: rgba(0, 0, 0, 0.8);
    }

    .titlebar:not(headerbar) widget, headerbar widget {
      color: rgba(0, 0, 0, 0.8); 
    }

    .titlebar:not(headerbar) spinbutton:not(.vertical) image,
    headerbar spinbutton:not(.vertical) image,
    .titlebar:not(headerbar) entry image,
    headerbar entry image {
      color: rgba(0, 0, 0, 0.8);
    }

    spinbutton:not(.vertical) image:hover, spinbutton:not(.vertical) image:active,
    entry image:hover,
    entry image:active {
      color: rgba(0, 0, 0, 0.9);
    }

    .titlebar:not(headerbar) image:not(disabled),
    headerbar image:not(disabled){
      color: rgba(0, 0, 0, 0.9);
    }
      .titlebar:not(headerbar) image:disabled,
      headerbar image:disabled{
        color: rgba(0, 0, 0, 0.4);
      }

    headerbar button:disabled:not(.suggested-action):not(.destructive-action):not(.close),
    headerbar entry:disabled,
    .titlebar:not(headerbar) button:disabled:not(.suggested-action):not(.destructive-action):not(.close),
    .titlebar:not(headerbar) entry:disabled {
      color: rgba(0, 0, 0, 0.4);
    }  

    headerbar.titlebar button.text-button:checked {
      background-color: alpha(currentColor, 0.1);
      color: rgba(0, 0, 0, 0.9);
    }

    .titlebar:not(headerbar) button.titlebutton:hover:not(.close),
    headerbar button.titlebutton:hover:not(.close) {
      color: rgba(0, 0, 0, 0.8);
    }

    .titlebar:not(headerbar) button.titlebutton.close,
    headerbar button.titlebutton.close {
      color: rgba(0, 0, 0, 0.8);
    }
    /*Change the unfocused color*/
      .titlebar:not(headerbar) button:not(.suggested-action):not(.destructive-action):backdrop,
      headerbar button:not(.suggested-action):not(.destructive-action):backdrop {
        color: rgba(0, 0, 0, 0.5);
      }

      .titlebar:not(headerbar) button:not(.suggested-action):not(.destructive-action):backdrop:hover, .titlebar:not(headerbar) button:not(.suggested-action):not(.destructive-action):backdrop:active,
      headerbar button:not(.suggested-action):not(.destructive-action):backdrop:hover,
      headerbar button:not(.suggested-action):not(.destructive-action):backdrop:active {
        color: rgba(0, 0, 0, 0.7);
      }

      .titlebar:not(headerbar) button:not(.suggested-action):not(.destructive-action):backdrop:disabled,
      headerbar button:not(.suggested-action):not(.destructive-action):backdrop:disabled {
        color: rgba(0, 0, 0, 0.3);
      }

      .titlebar:not(headerbar) button:not(.suggested-action):not(.destructive-action):backdrop:checked,
      headerbar button:not(.suggested-action):not(.destructive-action):backdrop:checked {
        color: rgba(0, 0, 0, 0.7);
      }

      .titlebar:not(headerbar) button:not(.suggested-action):not(.destructive-action):backdrop:checked:disabled,
      headerbar button:not(.suggested-action):not(.destructive-action):backdrop:checked:disabled {
        color: rgba(0, 0, 0, 0.3);
      }
    /*Change the unfocused color*/

  /*/Change headerbar's button color and entries*/

  /*Make the text entry on headerbar have a colored border in the bottom*/
    .titlebar:not(headerbar) entry,
    headerbar.titlebar entry,
    .titlebar:not(headerbar) box.linked.horizontal.raised entry,
    headerbar.titlebar box.linked.horizontal.raised entry {
      background-color: alpha (currentColor, 0.1);
      border-bottom: 2px solid currentColor;
      box-shadow: none;
      border-radius: 2px 2px 0px 0px;
    }

    .titlebar:not(headerbar) entry:first-child,
    headerbar.titlebar box.linked.horizontal.raised entry:first-child {
      border-radius: 2px 0px 0px 2px;
    }

    .titlebar:not(headerbar) entry:first-child,
    headerbar.titlebar box.linked.horizontal.raised entry:last-child {
      border-radius: 0px 2px 2px 0px;
    }

  /*/Make the text entry on headerbar have a colored border in the bottom*/
/*Headerbars*/

/*Change Self to purple*/
  button.suggested-action:checked {
      background-color: rgba(150, 0,  220, 1);
  }
/*/Change Self to purple*/

/*Nautilus*/
  /*Add margins to navigation buttons*/
    window.background.csd.nautilus-window > headerbar.titlebar > box.linked.horizontal > button.image-button:first-child {  
    margin-right: 6px
    }
  /*/Add margins to navigation buttons*/

  /*Make nautilus path bar not have margins*/
    window.background.csd.nautilus-window button.slider-button {
      margin: 0px;
      border-radius: 0px;
    }
      /* Add margins to the images on the slider buttons so they don't look weird*/
        window.background.csd.nautilus-window button.slider-button image {
          margin-left: 4px;
          margin-right: 4px;
        }
      /* Add margins to the images on the slider buttons so they don't look weird*/

    window.background.csd.nautilus-window button.text-button.image-button.toggle,
    window.background.csd.nautilus-window button.text-button.toggle {
      margin-top: 0px;
      margin-bottom: 0px;
      border-radius: 2px 2px 0px 0px;
    }
  /*/Make nautilus path bar not have margins*/
    .nautilus-window headerbar entry.search {
      border-radius: 2px 2px 0px 0px;
    }

    .nautilus-window .disclosure-button.popup.toggle {
      
      border-radius: 9999px;
      -gtk-outline-radius: 9999px;
    }

    .nautilus-window .dim-label {
      margin-left: 4px;
      margin-right: 4px;
    }
/*/Nautilus*/

/* 0 margins on messagedialogs*/
  messagedialog.background button.text-button {
    margin: 0px;
    border-radius: 2px;
    -gtk-outline-radius: 2px;
  }

  messagedialog box.vertical.dialog-vbox > box.horizontal.dialog-action-box buttonbox button.text-button {
    margin: 0px;
  }
/* 0 margins on messagedialogs*/

/*eolie fix*/
  headerbar widget widget overlay separator {
    background-color: transparent;
  }

  entry.uribar {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: none;
    border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), currentColor 0%, transparent 0%) 0 0 2/0 0 2px;
  }

  entry.uribar:focus {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: none;
    border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), currentColor 100%, transparent 0%) 0 0 2/0 0 2px;
  }
/*/eolie fix*/

/*Weather*/
  /*Makes all buttons transparent*/
    #weather-page button {
      background-color: transparent;
      box-shadow: none;
    }
  /*Makes all buttons transparent*/

  /*If the mouse cursor is hovering any button, 
  the background will have 10% opacity instead of 0%*/
    #weather-page button:hover {
      background-color: alpha (currentColor, 0.1)
    }
  /*If the mouse cursor is hovering any button, 
  the background will have 10% opacity instead of 0%*/

  /*This Changes buttons color on daylight, WIP*/
    .weather-few-clouds button, .weather-clear button {
      color: rgba(0, 0, 0, 0.7)
    }
  /*This Changes buttons color on daylight, WIP*/
  /*/Makes the image buttons become rounded*/
    #weather-page button.osd {
      border-radius: 9999px;
      -gtk-outline-radius: 9999px;
    }
  /*/Makes the image buttons become rounded*/

  /*Adds an outline to the bottom of the selected day button, i.e "today"*/
  #weather-page button.text-button:checked {
    border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), currentColor 100%, transparent 0%) 0 0 2/0 0 2px;
  }
  /*Adds an outline to the bottom of the selected day button, i.e "today"*/
/*/Weather*/

/*Experimental Calc*/
  grid.math-buttons button:not(.suggested-action) {
    border-radius: 9999px;
    box-shadow: none;
    background-color: transparent;
  }
/*/Experimental Calc*/

/*Make popovers not look like crap*/
  popover.background {
    background-color: #303030;
  }

  popover.background button:not(:checked):not(:disabled) {
    background-color: rgba(255, 255, 255, 0.1);
  }
/*/Make popovers not look like crap*/
grid.horizontal box.horizontal button.toggle:last-child {
  border-radius: 9999px;
}

/*Make popovers Darker for the dark variant only*/
  .popup menu {
    background-color: rgb(20, 20, 20);
  }
/*/Make popovers Darker for the dark variant only*/


/*Add margins to image buttons that near each other*/
  buttonbox .image-button {
    margin: 0px 2px;
  }
/*/Add margins to image buttons that near each other*/
